@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {

    /*color*/
    --darkest-violet: #211E2E;
    --darker-violet: #302C42FF;
    --dark-violet: #343045;
    --violet: #403A5F;
    --light-violet: #433D60;
    --lighter-violet: #8176AF;
    --lightest-violet: #C0B7E8;
    --white: #fff;

    /*images*/

}

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    box-sizing: border-box;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5.875rem;
}

.main-font {
    font-family: Montserrat, sans-serif;
    color: var(--white);
}

.main__background {
    background-color: var(--darker-violet);
}

.hero-section__back-image {
    background: url("/Programming/image/hero-section/1-base-image.png") right 5.25rem top 15.69rem no-repeat,
    url("/Programming/image/hero-section/1-vector-right.png") right top no-repeat,
    url("/Programming/image/hero-section/1-vector-left.png") left bottom 5rem no-repeat,
    url("/Programming/image/arrows/arrow-small-right.png") left 18.1875rem top 36.1875rem no-repeat;
    background-size: 32.75rem 28.44rem, 50rem, 19rem, 6.25rem 6.25rem;
}

.about-section__back-image {
    background: url(" /Programming/image/about-section/2-base-image.png") left 5.25rem top 15.69rem no-repeat,
    url(" /Programming/image/about-section/2-vector.png") left top 15.69rem no-repeat;
    background-size: 32rem 34.8rem, 90rem;
}

.hero-section__title-span {
    background: linear-gradient(156deg, var(--lightest-violet) 0%, var(--lighter-violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__main-text {
    color: var(--white);
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.hero-section__p {
    width: 30rem;
}

.section__title_biggest {
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

._with-padding {
    padding: 0 5.25rem;
}

._height-padding {
    padding-top: 3.12rem;
}

.header {
    backdrop-filter: blur(.063rem);
    z-index: 1;
    position: fixed;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    list-style: none;
    display: flex;
    color: var(--white);
    font-size: .75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30.125rem;
}

.header__nav-item {
    padding: 2.75rem 1.25rem;
    color: var(--white);
    text-decoration: none;
    border-top: .1rem solid rgba(255, 255, 255, 0);
}

.header__nav-item_active {
    padding-top: 1rem;
    border-top: .1rem solid rgba(255, 255, 255, 1);
}

.header__logo-img {
    background-image: url(" /Programming/image/logo.png"), url(" /Programming/image/logo-text.png");
    background-size: 6.375rem 6.4375rem, 4.75rem 2.875rem;
    background-position: left 5.25rem top 3.125rem, left 12.5625rem top 4.9375rem;
    background-repeat: no-repeat;
    filter: drop-shadow(0 .625rem .375rem rgba(0, 0, 0, .25));
}

.button {
    border-radius: 2.5rem;
    cursor: pointer;
    padding: 1rem 2.1rem;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.button:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem rgba(245, 245, 245, .49);
}

.header__contact-button {
    border: .125rem solid var(--white);
    background-color: rgba(255, 250, 240, 0);
    color: var(--white);
    margin-left: 8.75rem;
    width: 9.625rem;
    height: 3rem;
    font-weight: 700;
}

.header__join-button {
    margin-left: 2.38rem;
}

.hero-section {
    padding-top: 18rem;
}

.hero-section__cart {
    padding-top: 2rem;
}

.hero-section__address {
    margin: 8rem 5.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5.625rem;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, .95) 0%, var(--darkest-violet) 100%);

    /*url("/Programming/image/hero-section/address/Location-Icon.png") left 16.8rem center no-repeat,*/

    box-shadow: 0 .25rem .25rem 0 rgba(192, 183, 232, .01);
    height: 10.438rem;
    gap: 0 2.66rem;
}

.hero-section__address-item {
    display: flex;
    flex-direction: column;

}

.item__title_small {
    margin: 0;
    color: var(--white);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section__address-text {
    margin: .563rem 0 0 0;
    color: var(--white);
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section__title_slim {
    white-space: nowrap;
    color: var(--white);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: .4rem;
}

.section__title_regular {
    margin-bottom: 0;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.button_light {
    color: var(--darker-violet);
    background: linear-gradient(90deg, var(--lighter-violet) 0%, var(--lightest-violet) 100%);
    font-weight: 700;
}

.about-section__cart-let-button {
    margin-top: 1rem;
}

._on-right-side {
    padding-left: 45.31rem;
    padding-right: 5.25rem;
}


.service-section__back-image {
    background: url(" /Programming/image/service-section/3-vector.png") center bottom 21rem no-repeat;
    background-size: 94rem 50rem;
}

.blick2__cart {
    padding-top: 2rem;
    padding-bottom: 16rem;
}

.section__line-arrow_big {
    margin-left: 1rem;
}

.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-section__item {
    padding: 1.56rem;
    display: flex;
    justify-content: end;
    gap: 2rem 0;
    align-items: center;
    flex-direction: column;
    width: 16.375rem;
    height: 27.93rem;
    border-radius: 2.5rem;
    background: radial-gradient(50% 50% at 50% 50%, var(--light-violet) 0%, var(--darkest-violet) 100%);
}

.service-section__image {
    width: 13.6875rem;
    height: 13.6875rem;
}

.service-section__hr {
    height: .1rem;
    background-color: rgba(192, 183, 232, .33);
    width: 9.62rem;
    border: none;
}

.service-section__main-text_smallest {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tech-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.25rem;
    padding-top: 10.25rem;
}

.tech-section__back-image {
    background: url(" /Programming/image/tech-section/pexels-rodnae-productions-8097332.png") center no-repeat;
    background-size: 79.9rem 18.9rem;
}

.tech-section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-section__button {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 10rem;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.tech-section__button:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem rgba(245, 245, 245, .49);
}

.tech-section__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tech-image1 {
    width: 10.875rem;
    height: 10.875rem;
}

.tech-image2 {
    width: 15.75rem;
    height: 15.75rem;
}

.tech-image3 {
    width: 16.4375rem;
    height: 16.4375rem;
}

.tech-image4 {
    width: 17.625rem;
    height: 17.625rem;
}

.section__line {
    background: url("/Programming/image/arrows/arrow-big-right.png") left 26rem bottom no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 17.95rem;
}

._margin-bottom-7 {
    margin-bottom: 7.25rem;
}

.process-section__back-image {
    background: url(" /Programming/image/process-section/4-vector.png") center 12.18rem no-repeat;
    background-size: 119.5625rem 10.1875rem;
}

.process-section {
    margin-top: 2rem;
    padding: 0 8.81rem;
    display: flex;
    flex-direction: column;
}

.circle {
    position: relative;
    border: solid 1.19rem rgba(13, 13, 13, .32);
    width: 9.9375rem;
    height: 9.9375rem;
    border-radius: 10rem;
    overflow: hidden;
}

.circle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(156deg, var(--lightest-violet) 0%, var(--lighter-violet) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-violet);
    font-size: 4rem;
    font-weight: 700;
}

.circle1::before {
    content: '01';
}

.circle2::before {
    content: '02';
}

.circle3::before {
    content: '03';
}

.circle4::before {
    content: '04';
}

.process-section__line {
    margin-top: 2rem;
    padding: 0 3.81rem;
    display: flex;
    justify-content: space-between;
}

.process-section__line2 {
    padding: 0 1.81rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-arrow {
    width: 4.1875rem;
    height: 4.1875rem;
}

.optin-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.62rem;
    padding-bottom: 5.25rem;
    border-radius: 6.25rem;
    background: radial-gradient(50% 50% at 50% 50%, var(--violet) 0%, var(--darkest-violet) 100%);
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, .25);
    margin: 7rem 5.25rem 0;

    gap: 1.22rem 2.0625rem;
}

.vector-16 {
    width: 25.875rem;
    margin-top: 1.18rem;
    margin-bottom: .91rem;
}

.optin-section__pulls-border {
    color: var(--white);
    border-radius: 2.5rem;
    border: .125rem solid var(--white);
    padding-left: 2.62rem;
}

.optin-section__pulls-border::placeholder {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

._small-pull {
    width: 30.13rem;
    height: 4.5rem;
}

._big-pull {
    width: 63.125rem;
    height: 4.5rem;
}

._textarea {
    width: 66.125rem;
    height: 13.125rem;
    padding-left: 2.62rem;
    padding-top: 1.69rem;
}

.optin-section__back-image {
    background-image: url(" /Programming/image/optin-section/1-optin-block.png");
    background-size: 90.8125rem 31.1875rem;
    background-position: left bottom 2.69rem;
    background-repeat: no-repeat;
}

.footer__line {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8.12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__line__logo-img {
    filter: drop-shadow(0 .625rem .375rem rgba(0, 0, 0, .25));
    width: 11.5625rem;
    height: 11.6875rem;
}

.footer__line__vector-line {
    height: 12.25rem;
}

.soc-item {
    width: 2rem;
    height: 2rem;
    margin-right: 1.25rem;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    border-radius: 10rem;
}

.soc-item:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem rgba(245, 245, 245, .49);
    border-radius: 10rem;
}

.soc-wrapper {
    margin-top: 2.44rem;
    margin-bottom: 3.06rem;
}

.footer__hr {
    margin-top: 4.38rem;
    width: 79.3125rem;
}

.credits {
    margin-top: 3.06rem;
    display: flex;
    justify-content: center;
}

.credits-text {
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .11375rem;
}

.footer__nav-item {
    margin-bottom: 1.25rem;
}

