@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    /*color*/
    --darkest-violet: #211E2E;
    --darker-violet: #302C42FF;
    --dark-violet: #343045;
    --violet: #403A5F;
    --light-violet: #433D60;
    --lighter-violet: #8176AF;
    --lightest-violet: #C0B7E8;
    --white: #fff;
    --nav-item-bordr: rgba(255, 255, 255, 0);
    --nav-item-bordr_active: rgba(255, 255, 255, 1);
    --button-hover: rgba(245, 245, 245, .49);
    --shadow: rgba(0, 0, 0, 0);
    --address-shadow: rgba(192, 183, 232, .01);
    --service-hr: rgba(192, 183, 232, .33);
    --hero-span-gradient_92deg: linear-gradient(92deg, var(--lightest-violet) 0%, var(--lighter-violet) 100%);
    --hero-span-gradient_269deg: linear-gradient(269deg, var(--lightest-violet) 0%, var(--lighter-violet) 100%);
    --button-gradient: linear-gradient(90deg, var(--lighter-violet) 0%, var(--lightest-violet) 100%);
    --address-gradient: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, .95) 0%, var(--darkest-violet) 100%);
    --service-gradient: radial-gradient(50% 50% at 50% 50%, var(--light-violet) 0%, var(--darkest-violet) 100%);
    --optin-gradient: radial-gradient(50% 50% at 50% 50%, var(--violet) 0%, var(--darkest-violet) 100%);

    /*images*/
    --logo-icon: url(" /Programming/image/logo.png");
    --logo-text: url(" /Programming/image/logo-text.png");
    --arrow_small: url("/Programming/image/arrows/arrow-small-right.png");
    --arrow_big: url("/Programming/image/arrows/arrow-big-right.png");
    --process-arrow: url("/Programming/image/arrows/arrow-small-process-block.png");

    --hero-face: url("/Programming/image/hero-section/1-base-image.png");
    --hero-vector_right: url("/Programming/image/hero-section/1-vector-right.png");
    --hero-vector_left: url("/Programming/image/hero-section/1-vector-left.png");
    --address-location: url("/Programming/image/hero-section/address/Location-Icon.png");
    --address-phone-call: url("/Programming/image/hero-section/address/phone-call.png");
    --address-mail: url("/Programming/image/hero-section/address/mail.png");
    --address-vector: url("/Programming/image/hero-section/address/Vector-5.png");

    --about-face: url("/Programming/image/about-section/2-base-image.png");
    --about-vector: url(" /Programming/image/about-section/2-vector.png");

    --service-SIMULATION: url(" /Programming/image/service-section/1-service-image.png");
    --service-EDUCATION: url(" /Programming/image/service-section/2-service-image.png");
    --service-SELF-CARE: url(" /Programming/image/service-section/3-service-image.png");
    --service-OUTDOOR: url(" /Programming/image/service-section/4-service-image.png");
    --service-vector: url(" /Programming/image/service-section/3-vector.png");

    --tech-base: url(" /Programming/image/tech-section/pexels-rodnae-productions-8097332.png");
    --tech-button: url(" /Programming/image/tech-section/tech-block-button.png");
    --tech-unreal-engine: url("/Programming/image/tech-section/line/1-tech-block-line-image.png");
    --tech-unity: url("/Programming/image/tech-section/line/2-tech-block-line-image.png");
    --tech-oculus: url("/Programming/image/tech-section/line/3-tech-block-line-image.png");
    --tech-vive: url("/Programming/image/tech-section/line/4-tech-block-line-image.png");

    --process-vector: url(" /Programming/image/process-section/4-vector.png");
    --process-circle: url(" /Programming/image/process-section/circle.png");

    --optin-vector1: url(" /Programming/image/optin-section/1-optin-block.png");
    --optin-vector_hr: url(" /Programming/image/optin-section/vector-16.png");

    --footer-back: url(" /Programming/image/footer/footer-vector-back.png");
    --footer-vector: url(" /Programming/image/footer/footer-vector-line.png");
    --footer-hr: url(" /Programming/image/footer/footer-vector-hr.png");
    --facebook: url(" /Programming/image/footer/social/facebook.png");
    --twitter: url(" /Programming/image/footer/social/twitter.png");
    --linkedin: url(" /Programming/image/footer/social/linkedin.png");
    --youtube: url(" /Programming/image/footer/social/youtube.png");
    --instagram: url(" /Programming/image/footer/social/instagram.png");
    --pinterest: url(" /Programming/image/footer/social/pinterest.png");
}

/*disables*/
body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    box-sizing: border-box;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


/*Mixы*/
._section-main-text {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

._item-title-small {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

._section-title-slim {
    white-space: nowrap;
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
}

._section-title-regular {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

._button-light {
    color: var(--darker-violet);
    background: var(--button-gradient) no-repeat;
}

._margin-top-1rem {
    margin-top: 1rem;
}

._padding-top-2rem {
    padding-top: 2rem;
}

/*end of mixы*/

/*Элементы*/

.section {
    padding: 0 5.25rem;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}

.section-main-content {
    display: flex;
    justify-content: space-between;
}

.section__line {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.line-wrapper {
    display: flex;
    gap: 1rem;
}

.section__cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arrow_big {
    background: var(--arrow_big) bottom 2.7rem left no-repeat;
    background-size: 14rem 6.25rem;
    width: 20.25rem;
    height: 7.25rem;
}

.button {
    font-weight: 700;
    border-radius: 2.5rem;
    cursor: pointer;
    padding: 1rem 2.1rem;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    max-width: 13.375rem;
    max-height: 3rem;
}

.button:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem var(--button-hover);
}


/*main*/
.main {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.main-font {
    font-family: Montserrat, sans-serif;
    color: var(--white);
}

.main__background {
    background-color: var(--darker-violet);
}

.vector-image-for-hero-section-right {
    background: var(--hero-vector_right) right top no-repeat;
    background-size: 50rem;
}

/*header*/
.header {
    padding-top: 3.12rem;
    width: 100%;
    backdrop-filter: blur(.063rem);
    z-index: 1;
    position: sticky;
    top: .5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 13rem;
}

.header__nav {
    display: flex;
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__nav-item {
    padding: 2.75rem 1.25rem;
    color: var(--white);
    text-decoration: none;
    border-top: .1rem solid var(--nav-item-bordr);
}

.header__nav-item:not(.header__nav-item_active)::after {
    position: absolute;
    margin-left: .25rem;
    bottom: 4.6rem;
    border-radius: 10rem;
    background-color: var(--lightest-violet);
    content: "";
    height: .5rem;
    width: .5rem;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.header__nav-item_active {
    padding-top: 1rem;
    border-top: .1rem solid var(--nav-item-bordr_active);
}

.header__nav-item:hover:after {
    transform: scale(1);
}

.header__logo {
    background: var(--logo-icon) center left no-repeat, var(--logo-text) center right no-repeat;
    background-size: 6.375rem 6.4375rem, 4.75rem 2.875rem;
    width: 11.5rem;
    height: 6.375rem;
    filter: drop-shadow(0 .625rem .375rem var(--shadow));
}

._contact-button {
    border: .125rem solid var(--white);
    color: var(--white);
}

/*Hero-section*/
._section-title-biggest {
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section__back-image {
    background: var(--hero-vector_left) left top .9rem no-repeat;
    background-size: 19rem;
}

.hero-arrow {
    background: var(--arrow_small) center no-repeat;
    background-size: 6.25rem 6.25rem;
    width: 6.25rem;
    height: 2.8rem;
}

.hero-section__image-face {
    background: var(--hero-face) no-repeat;
    background-size: 32.75rem 28.44rem;
    width: 32.75rem;
    height: 28.44rem;
}

.hero-section__title-span-grad_92deg {
    background: var(--hero-span-gradient_92deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.hero-section__title-span-grad_269deg {
    background: var(--hero-span-gradient_269deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.hero-section__p {
    max-width: 30rem;
}

.hero-section__address {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5.625rem;
    background: var(--address-gradient) no-repeat;
    box-shadow: 0 .25rem .25rem 0 var(--address-shadow);
    height: 10.438rem;
    gap: 0 2.66rem;
}

.address-item_location {
    background: var(--address-location) no-repeat;
    height: 4.375rem;
    width: 4.375rem;
}

.address-item_phone-call {
    background: var(--address-phone-call) no-repeat;
    width: 3.6875rem;
    height: 3.6875rem;
}

.address-item_mail {
    background: var(--address-mail) no-repeat;
    width: 4.0625rem;
    height: 4.0625rem;
}

.address-vector {
    background: var(--address-vector) no-repeat;
    width: .0625rem;
    height: 7.28125rem;
}

.hero-section__address-text {
    margin: .563rem 0 0 0;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*About-section*/
.about-section__back-image {
    background: var(--about-vector) left top 15.69rem no-repeat;
    background-size: 90rem;
}

.about-section__image_face {
    background: var(--about-face) no-repeat;
    background-size: 32rem 34.8rem;
    width: 311.75rem;
    height: 37.8rem;
}

/*Service-section*/
.service-section__back-image {
    background: var(--service-vector) center bottom 29rem no-repeat;
    background-size: 120rem 50rem;
}

.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-section__item {
    padding: 1.56rem;
    display: flex;
    justify-content: end;
    gap: 1rem 0;
    align-items: center;
    flex-direction: column;
    width: 16.375rem;
    height: 27.93rem;
    border-radius: 2.5rem;
}

.service-image_SIMULATION {
    background: var(--service-SIMULATION) center top 1.5rem no-repeat, var(--service-gradient);
    background-size: 13.6875rem;
}

.service-image_EDUCATION {
    background: var(--service-EDUCATION) center top 1.5rem no-repeat, var(--service-gradient);
    background-size: 13.6875rem;
}

.service-image_SELF-CARE {
    background: var(--service-SELF-CARE) center top 1.5rem no-repeat, var(--service-gradient);
    background-size: 13.6875rem;
}

.service-image_OUTDOOR {
    background: var(--service-OUTDOOR) center top 1.5rem no-repeat, var(--service-gradient);
    background-size: 13.6875rem;
}

.service-section__hr {
    height: .1rem;
    background-color: var(--service-hr);
    width: 9.62rem;
    border: none;
}

.service-section__main-text_smallest {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Tech-section*/
.tech-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10.25rem;
}

.tech-section__back-image {
    background: var(--tech-base) center top 2rem no-repeat;
    background-size: 79.9rem 18.9rem;
}

.tech-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-section__button {
    background: var(--tech-button);
    background-size: 6.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 10rem;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    cursor: pointer;
    margin-top: 1.4rem;
}

.tech-section__button:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem var(--button-hover);
}

.tech-line {
    flex-direction: row;
    justify-content: space-between;
    height: 17rem;
}

.tech-image_unreal-engine {
    background: var(--tech-unreal-engine) no-repeat;
    width: 10.875rem;
    height: 10.875rem;
    background-size: 10.875rem
}

.tech-image_unity {
    background: var(--tech-unity) no-repeat;
    width: 15.75rem;
    height: 15.75rem;
    background-size: 15.75rem;
}

.tech-image_oculus {
    background: var(--tech-oculus) no-repeat;
    width: 16.4375rem;
    height: 16.4375rem;
    background-size: 16.4375rem;
}

.tech-image_vive {
    background: var(--tech-vive) no-repeat;
    width: 17.625rem;
    height: 17.625rem;
    background-size: 17.625rem;
}

/*Process-section*/
.process-arrow {
    background: var(--process-arrow) no-repeat;
    background-size: 4.1875rem;
    width: 4.1875rem;
    height: 4.1875rem;
}

.process-text {
    padding-top: 1rem;
}

.process-section__back-image {
    background: var(--process-vector) center 14.18rem no-repeat;
    background-size: 119.5625rem 10.1875rem;
}

.circle {
    background: var(--process-circle) no-repeat;
    background-size: 12.375rem;
    width: 12.375rem;
    height: 12.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-violet);
}

.process-section__circle-line {
    display: flex;
    justify-content: space-around;
}

.process-section__text-line {
    padding: 0 1.81rem;
    display: flex;
    justify-content: space-between;
}

/*Optin-section*/
.optin-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.62rem;
    padding-bottom: 5.25rem;
    border-radius: 6.25rem;
    background: var(--optin-gradient) no-repeat;
    box-shadow: 0 .25rem .25rem 0 var(--shadow);
    margin: 0 5.25rem;
    gap: 1.22rem;
}

.optin-vector_hr {
    background: var(--optin-vector_hr) no-repeat;
    background-size: 25.875rem;
    height: 1rem;
    width: 25.875rem;
    margin-top: 1.18rem;
}

.optin-section__pulls-border {
    color: var(--white);
    border-radius: 2.5rem;
    border: .125rem solid var(--white);
    padding-left: 2.62rem;
}

.optin-section__pulls-border::placeholder {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pulls-border_small-pull {
    width: 30.13rem;
    height: 4.5rem;
}

.pulls-border_big-pull {
    width: 63.125rem;
    height: 4.5rem;
}

.pulls-border_textarea {
    width: 66.125rem;
    height: 13.125rem;
    padding-left: 2.62rem;
    padding-top: 1.69rem;
}

.optin-section__back-image {
    background-image: var(--optin-vector1) no-repeat left bottom 2.69rem;
    background-size: 90.8125rem 31.1875rem;
}

/*Footer*/
.footer__line {
    color: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8.12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-line__logo-img {
    background: var(--logo-icon) no-repeat;
    background-size: 11.5625rem;
    filter: drop-shadow(0 .625rem .375rem var(--shadow));
    width: 11.5625rem;
    height: 11.6875rem;
}

.footer-line__vector-line {
    background: var(--footer-vector) no-repeat;
    background-size: .5rem 12.25rem;
    height: 12.25rem;
    width: .5rem;
}

.footer__back-image {
    background: var(--footer-back) bottom 8rem left 7rem no-repeat;
    background-size: 119rem 39rem;
}

.soc-item {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 0 0;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    border-radius: 10rem;
}

.soc-item:hover {
    transform: scale(.97);
    box-shadow: 0 0 .95rem var(--button-hover);
    border-radius: 10rem;
}

.soc-item__facebook {
    background: var(--facebook) no-repeat;
    background-size: 2rem;
}

.soc-item__twitter {
    background: var(--twitter) no-repeat;
    background-size: 2rem;
}

.soc-item__linkedin {
    background: var(--linkedin) no-repeat;
    background-size: 2rem;
}

.soc-item__youtube {
    background: var(--youtube) no-repeat;
    background-size: 2rem;
}

.soc-item__instagram {
    background: var(--instagram) no-repeat;
    background-size: 2rem;
}

.soc-item__pinterest {
    background: var(--pinterest) no-repeat;
    background-size: 2rem;
}

.soc-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-SOCIALIZE {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

.footer__hr {
    background: var(--footer-hr) no-repeat;
    background-size: 79.3125rem;
    width: 79.3125rem;
    height: 1rem;
}

.footer__nav-ul {
    line-height: 3rem;
}

.footer__a {
    box-shadow: 0 0 0 0;
    transition: box-shadow .3s ease-in-out;
}

.footer__a:hover {
    box-shadow: 0 0 .95rem var(--darkest-violet);
}

.credits {
    display: flex;
    align-self: center;
    padding-bottom: 3rem;
}

.credits-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .11375rem;
}